<mat-card>
  <form class="event-form">
    <mat-form-field class="event-full-width" >
      <mat-label>Event name</mat-label>
      <input matInput type="text" [(ngModel)]="name" name="name">
      <button *ngIf="name" matSuffix mat-icon-button aria-label="Clear" (click)="name=''">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
    <br>
    <mat-form-field class="event-full-width" >
      <mat-label>Location</mat-label>
      <input matInput placehoder="" value="">
    </mat-form-field>
    <br>
    <table class="event-full-width" cellspacing="0"><tr>
      <td><mat-form-field class="event-full-width">
        <mat-label>From</mat-label>
        <!-- <input matInput placehoder="" value=""> -->
        <input matInput type="time" name="start-time" [(ngModel)]="time">
      </mat-form-field></td>
      <td><mat-form-field class="event-full-width">
        <mat-label>To</mat-label>
        <input matInput type="time">
      </mat-form-field></td>
    </tr></table>
    <br>
    <mat-form-field class="event-full-width" appearance="fill">
      <mat-label>Description</mat-label>
      <textarea matInput></textarea>
    </mat-form-field>
    <td><button mat-mini-fab (click)="saveEvent()" color="primary"><mat-icon>save</mat-icon></button></td>
    <td><button mat-mini-fab  color="grey"><mat-icon>delete</mat-icon></button></td>
  </form>
</mat-card>


