<div class="itinerary-container">
  <mat-card>
    <mat-card-title>New Itinerary</mat-card-title>
    <br>
    <mat-card-subtitle>
      <!-- Date: -->
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Date</mat-label>
        <input matInput [matDatepicker]="picker">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker [dateClass]="dateClass" #picker></mat-datepicker>
      </mat-form-field>
    </mat-card-subtitle>
    <!-- <p>
      <mat-form-field appearance="legacy">
        <mat-label>Legacy form fiel d</mat-label>
        <input matInput placeholder="Placeholddddder">
        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
        <mat-hint>Hint</mat-hint>
      </mat-form-field>
      </p> -->
      <ul class="itineraries">
        <li *ngFor="let event of events">
          <app-itinerary-event>{{event}}</app-itinerary-event>
        </li>
      </ul>
    <mat-card-actions>
      <button mat-raised-button color="primary" (click)="newEvent()">New Event</button>
    </mat-card-actions>
  </mat-card>
</div>
